Exercise 1: Create a Jupyter Notebook

Create a new Jupyter notebook called DataScienceEcosystem.ipynb

Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction
## In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4 - Create a markdown cell to list data science languages

### Some of the popular languages that Data Scientists use are:

1.Python.

2.R.

3.SQL.

4.Java.

5.Julia.

6.Scala.

7.C/C++.

8.JavaScript.

Exercise 5 - Create a markdown cell to list data science libraries.

## Some of the commonly used libraries used by Data Scientists include:

1.TensorFlow.

2.NumPy.

3.SciPy.

4.Pandas.

5.Matplotlib.

6.Keras.

7.SciKit-Learn.

8.PyTorch.

9.Scrapy.

10.BeautifulSoup.

Exercise 6 - Create a markdown cell with a table of Data Science tools

###### Data Science Tools:  

| Data Science Tools:  |            |         |
| :------------------- | :--------: | ------: |
| SAS. It is one of those data science tools which are specifically designed for statistical operation|
| Apache Spark	|
| BigML |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

Exercise 8 - Create a code cell to multiply and add numbers

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5
#Result = 17

17

Exercise 9 - Create a code cell to convert minutes to hours

In [2]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = 200/60
print(hours)
#Result = 3.3333333333333335

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives

### Some of the popular languages that Data Scientists use are:
+ Python.

+ R.

+ SQL.

+ Java.

+ Julia.

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Lakshmi Holla

Niveditha Pandith